tests/TestData/invalid_cpacs_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by n.a. (n.a.) -->
<?xml-stylesheet href="xs3p.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/1999/xhtml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<!-- OVERVIEW-->
			<h2>1. Overview</h2>
			<p>The <strong>C</strong>ommon <strong>P</strong>arametric <strong>A</strong>ircraft
				<strong>C</strong>onfiguration <strong>S</strong>tandard <em>(CPACS)</em> is an
				XML-based data format for describing aircraft configurations and their corresponding
				data.<br/>
				This XML-Schema document provides a description of the <em>CPACS</em> data
				structure that can be used for automatic validation as well as for documentation
				purposes. In this Schema, type declarations and element definitions are seperated.
				Generally, the type declarations share the name of the corresponding elements with
				an additional trailing "type". All definitions of an element share the same name.
			</p>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>
			<!-- COORDINATE SYSTEM -->
			<h2>2. Coordinate System</h2>
			<p>A body-fixed, right-handed coordinate system is used (aerodynamic coordinate system):</p>
			<div align="center" width="100%">
				<table width="75%" style="border:1px solid #000000;">
					<tr>
						<td align="center">
							<b>Achse</b>
						</td>
						<td align="center">
							<b>Richtung</b>
						</td>
						<td align="center">
							<b>Beschreibung</b>
						</td>
						<td align="center" rowspan="4">
							<img width="100%" height="100%" src="images/achsensystem.png"/>
						</td>
					</tr>
					<tr>
						<td align="center">x</td>
						<td align="center">nach hinten</td>
						<td align="center">von der Nase zum Rumpfheck</td>
					</tr>
					<tr>
						<td align="center">y</td>
						<td align="center">nach rechts</td>
						<td align="center">von der Nase zur rechten Flügelsitze</td>
					</tr>
					<tr>
						<td align="center">z</td>
						<td align="center">nach oben</td>
						<td align="center">von der Unterkante zur Seitenleitwerksspitze</td>
					</tr>
				</table>
			</div>
			<p>Der Ursprung liegt normalerweise in oder vor der Nase des Flugzeugs, so dass die
					x-Koordinaten in der Regel positiv sind.</p>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>
			<!-- EINHEITEN -->
			<h2>3. Einheiten</h2>
			<p>Es sollen konsequent folgende Einheiten verwendet werden:</p>
			<div align="center">
				<table width="50%" style="border:1px solid #000000;">
					<tr>
						<td align="center">[m]</td>
						<td align="center">Position, Abstand</td>
					</tr>
					<tr>
						<td align="center">[m^2]</td>
						<td align="center">Fläche</td>
					</tr>
					<tr>
						<td align="center">[m^3]</td>
						<td align="center">Volumen</td>
					</tr>
					<tr>
						<td align="center">[kg]</td>
						<td align="center">Masse</td>
					</tr>
					<tr>
						<td align="center">[s]</td>
						<td align="center">Zeit</td>
					</tr>
					<tr>
						<td align="center">[K]</td>
						<td align="center">Temperatur</td>
					</tr>
					<tr>
						<td align="center">[°]</td>
						<td align="center">Winkel</td>
					</tr>
				</table>
			</div>
			<p>sowie abgeleitete Größen z.B.:</p>
			<div align="center">
				<table width="50%" style="border:1px solid #000000">
					<tr>
						<td align="center">[N]</td>
						<td align="center">Kraft</td>
					</tr>
					<tr>
						<td align="center">[Nm]</td>
						<td align="center">Moment</td>
					</tr>
					<tr>
						<td align="center">[W]</td>
						<td align="center">Leistung</td>
					</tr>
				</table>
			</div>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>
			<!-- DATA STRUCTURE -->
			<h2>4. Data structure</h2>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="cpacs">
		<xsd:annotation>
			<xsd:documentation>Root node for CPACS-files</xsd:documentation>
			<xsd:appinfo>&lt;cpacs&gt; root element</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="header" type="headerType">
					<xsd:annotation>
						<xsd:documentation>CPACS dataset description</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="aircraft" type="aircraftType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description of aircraft</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="missions" type="missionsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description of missions</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="airports" type="airportsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description of airports</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="fleets" type="fleetsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Description of fleets</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="toolspecific" type="toolspecificType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Toolspecific data</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="headerType">
		<xsd:annotation>
			<xsd:documentation>Header type, containing CPACS dataset description</xsd:documentation>
			<xsd:appinfo>&lt;header&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of CPACS dataset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of CPACS dataset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creator" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Creator of initial CPACS dataset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Timestamp of initial CPACS dataset creation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version of initial CPACS dataset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="updates" type="updatesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Updates of the CPACS dataset</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="updatesType">
		<xsd:annotation>
			<xsd:documentation>Updates type, containing update data for the CPACS dataset</xsd:documentation>
			<xsd:appinfo>&lt;updates&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="update" type="updateType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Update data for each modification</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="updateType">
		<xsd:annotation>
			<xsd:documentation>Update type, containing a datablock for each update of the CPACS dataset</xsd:documentation>
			<xsd:appinfo>&lt;update&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="modification" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Description of Modification of CPACS data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creator" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Creator of CPACS modification</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Timestamp of CPACS modification</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>New version number of CPACS dataset after modification</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="aircraftType">
		<xsd:annotation>
			<xsd:documentation>Aircraft node, containing all data of the aircraft</xsd:documentation>
			<xsd:appinfo>&lt;aircraft&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="configurations" type="configurationsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aircraft configurations</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="engines" type="enginesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Engine configurations</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="profiles" type="profilesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Profile geometries</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="materials" type="materialsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Material data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="configurationsType">
		<xsd:annotation>
			<xsd:documentation>Configurations type, containing complete aircraft configurations</xsd:documentation>
			<xsd:appinfo>&lt;configurations&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="configuration" type="configurationType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Data for each aircraft configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="configurationType">
		<xsd:annotation>
			<xsd:documentation>Configuration type, containing all data of one configuration</xsd:documentation>
			<xsd:appinfo>&lt;configuration&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of aircraft configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of aircraft configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reference" type="referenceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fuselages" type="fuselagesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fuselages of the configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wings" type="wingsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>wings of the configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="enginePositions" type="enginePositionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Engines and their positions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="configurationGlobal" type="configurationGlobalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Global aircraft data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="referenceType">
		<xsd:annotation>
			<xsd:documentation>Reference type, containing the reference values of the configuration</xsd:documentation>
			<xsd:appinfo>&lt;reference&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="area" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Reference area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="length" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Reference length</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="point" type="pointType">
				<xsd:annotation>
					<xsd:documentation>Reference point</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="fuselagesType">
		<xsd:annotation>
			<xsd:documentation>Fuselages type, containing the fuselages of the configuration</xsd:documentation>
			<xsd:appinfo>&lt;wings&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fuselage" type="fuselageType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>All data of a fuselage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fuselageType">
		<xsd:annotation>
			<xsd:documentation>Fuselage type, containing all data related to a fuselage</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of fuselage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of fuselage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parentUID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>UID of part to which the fuselage is mounted (if any)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Set of transformation values for the whole fuselage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fuselageSections" type="fuselageSectionsType">
				<xsd:annotation>
					<xsd:documentation>Sections of the fuselage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionings_renamed_for_testing_purposes" type="positioningsType">
				<xsd:annotation>
					<xsd:documentation>positioning of the fuselage's sections</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fuselageSegments" type="fuselageSegmentsType">
				<xsd:annotation>
					<xsd:documentation>Creation of fuselage segments by connecting sections and elements</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="fuselageSectionsType">
		<xsd:annotation>
			<xsd:documentation>FuselageSections type, containing fuselage sections</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fuselageSection" type="fuselageSectionType" minOccurs="2" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Section of the fuselage, containing elements</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fuselageSectionType">
		<xsd:annotation>
			<xsd:documentation>FuselageSection type, containing fusleage section and element data</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of fuselage section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of fuselage section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Transformation of fuselage section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fuselageElements" type="fuselageElementsType">
				<xsd:annotation>
					<xsd:documentation>Elements of fuselage section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="fuselageElementsType">
		<xsd:annotation>
			<xsd:documentation>FuselageElements type, containing the elements of a fuselage section</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fuselageElement" type="fuselageElementType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Fuselage element data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fuselageElementType">
		<xsd:annotation>
			<xsd:documentation>FuselageElement type, containing fuselage element data</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of fuselage element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of fuselage element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="profileUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference to a fuselage profile</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Transormation of the element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="positioningsType">
		<xsd:annotation>
			<xsd:documentation>Positionings type, containing the positionings of the sections</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="positioning" minOccurs="2" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Positioning of a section</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="positioningType"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="positioningType">
		<xsd:annotation>
			<xsd:documentation>Positioning type, containing a positioning of a section</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of positioning</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of positioning</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="length" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Distance between inner and outer section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sweepangle" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Sweepangle between inner and outer sectiom</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dihedralangle" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Dihedralangle between inner and outer section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sectionUID" type="xsd:string" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>References to sections (From first to second section). If only one section is provided, the positioning is made from origin to that section.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="fuselageSegmentsType">
		<xsd:annotation>
			<xsd:documentation>FuselageSegments type, containing fuselage segment definitions (from sections and elements)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fuselageSegment" type="fuselageSegmentType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Fuselage segment data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fuselageSegmentType">
		<xsd:annotation>
			<xsd:documentation>FuselageSegment type, containing data of a fuselage segment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of fuselage segment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of fuselage segment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="elementUID" type="xsd:string" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Reference to elements to create a fuselage segment (inner, outer)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="wingsType">
		<xsd:annotation>
			<xsd:documentation>Wings type, containing the wings of the configuration</xsd:documentation>
			<xsd:appinfo>&lt;wings&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wing" type="wingType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>All data of a wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="wingType">
		<xsd:annotation>
			<xsd:documentation>Wing type, containing all data related to a wing (inluding tailplanes etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parentUID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>UID of part to which the wing is mounted (if any)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Set of transformation values for the whole wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wingSections" type="wingSectionsType">
				<xsd:annotation>
					<xsd:documentation>Sections of the wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionings" type="positioningsType">
				<xsd:annotation>
					<xsd:documentation>Positioning of the wing's sections</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wingSegments" type="wingSegmentsType">
				<xsd:annotation>
					<xsd:documentation>Creation of wing segments by connecting sections and elements</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="wingSectionsType">
		<xsd:annotation>
			<xsd:documentation>WingSections type, containing wing sections</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wingSection" type="wingSectionType" minOccurs="2" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Section of the wing, containing elements</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="wingSectionType">
		<xsd:annotation>
			<xsd:documentation>WingSection type, containing wing section and element data</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of wing section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of wing section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Transformation of wing section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wingElements" type="wingElementsType">
				<xsd:annotation>
					<xsd:documentation>Elements of wing section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="wingElementsType">
		<xsd:annotation>
			<xsd:documentation>WingElements type, containing the elements of a wing section</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wingElement" type="wingElementType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Wing element data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="wingElementType">
		<xsd:annotation>
			<xsd:documentation>WingElement type, containing wing element data</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of wing element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of wing element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="airfoilUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference to a wing airfoil</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Transormation of the wing element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wingElementStructure" type="wingElementStructureType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Structure of the wing element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="wingElementStructureType">
		<xsd:annotation>
			<xsd:documentation>WingElementStructure type, containing the structure of a wing element</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="sparCrossSections" type="sparCrossSectionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Spar cross-sections of the wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cells" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cells of the wing</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="cellsType"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="sparCrossSectionsType">
		<xsd:annotation>
			<xsd:documentation>SparCrossSections type, containing the spar cross-sections of an element</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sparCrossSection" type="sparCrossSectionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Spar cross-section data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sparCrossSectionType">
		<xsd:annotation>
			<xsd:documentation>Spar type, containing cross-section of a spar</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pos" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Normed chord position</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cap" type="capType" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Caps of the spar (upper, lower)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="web" type="webType">
				<xsd:annotation>
					<xsd:documentation>Web of the spar</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="capType">
		<xsd:annotation>
			<xsd:documentation>Cap type, containing area and material of a cap</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="area" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Area of cap</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="materialUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference to material</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="webType">
		<xsd:annotation>
			<xsd:documentation>Web type, containing thickness and material of a web</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="thickness" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Thickness of web</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="materialUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference to material</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="cellsType">
		<xsd:annotation>
			<xsd:documentation>Cells type, containing the cells of an element</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cell" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Cell data</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="cellType"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cellType">
		<xsd:annotation>
			<xsd:documentation>Cell type, containing the data of a cell</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sparUID" type="xsd:string" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Spars (front, rear)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shell" type="shellType" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Shells (upper, lower)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="shellType">
		<xsd:annotation>
			<xsd:documentation>Shell type, containing the data of a shell</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="thickness" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Thickness of the shell</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="materialUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference to used material</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stringers" type="stringersType">
				<xsd:annotation>
					<xsd:documentation>Stringer (upper, lower)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="stringersType">
		<xsd:annotation>
			<xsd:documentation>Stringers type, containing the stringer data of a shell</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="pitch" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>pitch of stringers</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="area" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>area of stringers</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="materialUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>material of stringers</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="wingSegmentsType">
		<xsd:annotation>
			<xsd:documentation>WingSegments type, containing wing segment definitions (from sections and elements)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wingSegment" type="wingSegmentType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Wing segment data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="wingSegmentType">
		<xsd:annotation>
			<xsd:documentation>WingSegment type, containing data of a wing segment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of wing segment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of wing segment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="elementUID" type="xsd:string" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Reference to elements to create a wing segment (inner, outer)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wingSegmentStructure" type="wingSegmentStructureType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Structure of the wing segment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="wingSegmentStructureType">
		<xsd:annotation>
			<xsd:documentation>WingSegmentStructure type, containing structure of a wing segment</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="spars" type="sparsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Definition of spars</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ribDefinitions" type="ribDefinitionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Rib definitions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="sparsType">
		<xsd:annotation>
			<xsd:documentation>Spars type, containing spar definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="spar" type="sparType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Spar definitions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sparType">
		<xsd:annotation>
			<xsd:documentation>Spar type, containing the connection of spar cross-sections to spars</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sparCrossSectionUID" type="xsd:string" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Reference to spar cross-sections to be connected (inner, outer)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ribDefinitionsType">
		<xsd:annotation>
			<xsd:documentation>RibDefinition type, containing the definition of ribs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ribDefinition" type="ribDefinitionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Rib definition</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ribDefinitionType">
		<xsd:annotation>
			<xsd:documentation>RibDefinition type, containing a rib definition for a point</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="eta" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Eta position of the rib definition</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spacing" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Rib spacing at this position</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="thickness" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Rib thickness at this position</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="enginePositionsType">
		<xsd:annotation>
			<xsd:documentation>EnginePositions type, containing the a reference to the used engines and their positions at the configuration</xsd:documentation>
			<xsd:appinfo>&lt;enginePositions&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="enginePosition" type="enginePositionType">
				<xsd:annotation>
					<xsd:documentation>Data of an engine</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="enginePositionType">
		<xsd:annotation>
			<xsd:documentation>EnginePosition type, containing data for a single engine</xsd:documentation>
			<xsd:appinfo>&lt;enginePositions&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of the engine</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of the engine</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="engineUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference to the used engine</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parentUID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Parent of the engine</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transformation" type="transformationType">
				<xsd:annotation>
					<xsd:documentation>Position of the engine</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="configurationGlobalType">
		<xsd:annotation>
			<xsd:documentation>ConfigurationGlobal type, containing global data of the configuration</xsd:documentation>
			<xsd:appinfo>&lt;configurationGlobal&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="enginesType">
		<xsd:annotation>
			<xsd:documentation>Engines type, containing complete engine configurations</xsd:documentation>
			<xsd:appinfo>&lt;engines&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="profilesType">
		<xsd:annotation>
			<xsd:documentation>Profiles type, containing profile geometries</xsd:documentation>
			<xsd:appinfo>&lt;profiles&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="fuselageProfiles" type="fuselageProfilesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Profiles of the fuselage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wingAirfoils" type="wingAirfoilsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Airfoils of the wing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="fuselageProfilesType">
		<xsd:annotation>
			<xsd:documentation>FuselageProfiles type, containing fuselage profile geometries</xsd:documentation>
			<xsd:appinfo>&lt;profiles&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fuselageProfile" type="fuselageProfileType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Profile of a fuselage section</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fuselageProfileType">
		<xsd:annotation>
			<xsd:documentation>FuselageProfile type, containing fuselage profile geometry data</xsd:documentation>
			<xsd:appinfo>&lt;profiles&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of fuselage profile</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of fuselage profile</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pointList" type="pointListType">
				<xsd:annotation>
					<xsd:documentation>List of fuselage profile points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="wingAirfoilsType">
		<xsd:annotation>
			<xsd:documentation>WingAirfoils type, containing wing airfoil geometries</xsd:documentation>
			<xsd:appinfo>&lt;profiles&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wingAirfoil" type="wingAirfoilType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="wingAirfoilType">
		<xsd:annotation>
			<xsd:documentation>WingAirfoil type, containing wing airfoil geometry data</xsd:documentation>
			<xsd:appinfo>&lt;profiles&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of wing airfoil</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of wing airfoil</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pointList" type="pointListType">
				<xsd:annotation>
					<xsd:documentation>List of wing airfoil points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="uID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="materialsType">
		<xsd:annotation>
			<xsd:documentation>Materials type, containing material data</xsd:documentation>
			<xsd:appinfo>&lt;materials&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="missionsType">
		<xsd:annotation>
			<xsd:documentation>Missions type, containing the design missions for the aircraft</xsd:documentation>
			<xsd:appinfo>&lt;missions&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="airportsType">
		<xsd:annotation>
			<xsd:documentation>Airports type, containing data of the airports</xsd:documentation>
			<xsd:appinfo>&lt;airports&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="fleetsType">
		<xsd:annotation>
			<xsd:documentation>Fleets type, containing fleets of aircraft</xsd:documentation>
			<xsd:appinfo>&lt;fleets&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="toolspecificType">
		<xsd:annotation>
			<xsd:documentation>Toolspecific type, containing specific data for the analysis tools</xsd:documentation>
			<xsd:appinfo>&lt;toolspecific&gt;</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>X. Beschreibung von Basis-Elementen</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="pointListType">
		<xsd:annotation>
			<xsd:documentation>PointList type, containing a list of points</xsd:documentation>
			<xsd:appinfo>&lt;point&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="point" type="pointType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Data point</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pointType">
		<xsd:annotation>
			<xsd:documentation>Point type, containing an xyz data triplet with optional z component</xsd:documentation>
			<xsd:appinfo>&lt;point&gt;</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="x" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>X-Component</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="y" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>Y-Component</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="z" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Z-Component</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transformationType">
		<xsd:annotation>
			<xsd:documentation>Transformation type, containing a set of transformations</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="translation" type="translationType">
				<xsd:annotation>
					<xsd:documentation>Translation data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="scaling" type="scalingType">
				<xsd:annotation>
					<xsd:documentation>Scaling data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rotation" type="rotationType">
				<xsd:annotation>
					<xsd:documentation>Rotation data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="translationType">
		<xsd:annotation>
			<xsd:documentation>Translation type, containing a translation triplet</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="point" type="pointType">
				<xsd:annotation>
					<xsd:documentation>Data triplet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="rotationType">
		<xsd:annotation>
			<xsd:documentation>Rotation type, containing a rotation triplet</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="point" type="pointType">
				<xsd:annotation>
					<xsd:documentation>Data triplet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="scalingType">
		<xsd:annotation>
			<xsd:documentation>Scaling type, containing a scaling triplet</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="point" type="pointType">
				<xsd:annotation>
					<xsd:documentation>Data triplet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
