tests/TestData/schema_with_defaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- ROOT ELEMENT -->
    <xsd:element name="configuration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="defaultString" type="xsd:string" default="Default string value"/>
                <xsd:element name="elemWithDefaultAttr">
                    <xsd:complexType>
                        <xsd:attribute name="defaultAttr" type="xsd:integer" default="4"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
